@import "store-header.css";
@import "store-main.css";
@import "store-footer.css";

@font-face {
  font-family: poppins;
  src: url(../../fonts/Poppins-BoldItalic.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

a{
  text-decoration: none;
}

ol,ul,li{
  list-style: none;
}

.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
